.full-badge {
  text-align: center;
  width: 300px;
  padding: 10px;
  height: auto;
}

.side-badge {
  margin: 10px;
}

.fanalyst-icon {
  color: #905923;
}

.analyst-icon {
  color: #c0c0c0;
}

.pro-analyst-icon {
  color: #ffd700;
}

.expert-analyst-icon {
  color: #45aca5;
}

.triangle {
  position: relative;
  height: 200px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle div {
  position: relative;
  width: 100%;
  margin: 0 auto 2px;
  color: white;
  line-height: 50px;
  text-align: center;
}

.triangle .inactive {
  background: #747474;
}

.fanalyst:hover,
.fanalyst {
  background: #905923;
}

.analyst:hover,
.analyst {
  background: #c0c0c0;
}

.pro-analyst:hover,
.pro-analyst {
  background: #ffd700;
}

.expert-analyst:hover,
.expert-analyst {
  background: #45aca5;
}
