.auth-page {
  height: 90vh;
}

.signup-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height:100%;
}

.signup-page .signup-form {
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.signup-page .signup-form div {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.signup-page .signup-form .opt-fields {
  justify-content: space-around;
  height: 50%;
}

.signup-page .signup-form .opt-fields .render-field {
  margin: 0;
}

.signup-page .signup-form .required-fields {
  height: 50%;
  justify-content: flex-start;
}

.signup-page .signup-form select{
  width: 30vh;
  padding: 1%;
  margin-bottom: 3%;
}

.signup-page .signup-form div input {
  width: 30vh;
  height:5vh;
  border: 0;
  border-bottom: 2px solid gray;
  margin-bottom: 3%;
  background: transparent;
  transition: border-color 0.2s;
}

.signup-page .signup-form div input:focus {
  border-width: 3px;
  border-image: linear-gradient(to right, #9c9c9c, #525252);
  border-image-slice: 1;
}

.signup-page .signup-form div #signup-button {
  width: 30vh;
  height:5vh;
  border-radius: 20px;
  background: transparent;
  transition: border-color 0.2s;
}

#toggle-page-button{
  border: 0;
  background: transparent;
  color: gray;
}

.signup-page .signup-form div #signup-button:hover {
  box-shadow: 9px 10px 42px -10px rgba(0,0,0,0.75);
}

.signup-page .signup-form div span {
  color: #ff5656;
}