@import "auth-page.css";
@import "buttons.css";
@import "landing-page.css";
@import "acs-infra-demo.css";
@import "my-profile-page.css";
@import "predictions-page.css";
@import "opencourt-timeline.css";
@import "text-input.css";
@import "navbar.css";
@import "picks-page.css";
@import "trivia-page.css";
@import "debate-page.css";
@import "playoffs-page.css";
@import "hhtrivia-page.css";
@import "acs-badge.css";
@import "loading-wrapper.css";

body {
  height: 100vh;
}

body #root {
  height: 100%;
}

.picks-predicts-menu {
  color: white;
}
