.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
  flex-wrap: nowrap;
}

.navbar .right-navbar {
  flex-grow: 1;
}

.navbar .left-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 9;
}

.navbar a:hover {
  color: white;
}

.navbar a {
  color: gray;
  text-transform: none;
  margin-left: 1%;
  margin-right: 1%;
}

.navbar .active {
  color: white;
}

.navbar .MuiButton-textPrimary {
  color: gray;
}

.navbar .picks-dropdown-label {
  text-transform: none;
}

.navbar .picks-dropdown-label:hover {
  color: white;
  text-transform: none;
}

.picks-dropdown-container {
  margin-left: 1%;
  margin-right: 1%;
}

.picks-dropdown-menu-container .MuiMenu-paper {
  background-color: #333333;
}

.picks-dropdown-menu-container a {
  color: gray;
}

.picks-dropdown-menu-container a:hover {
  color: white;
}

.picks-dropdown-menu-container {
  color: white;
}

.picks-dropdown-menu-container .MuiMenuItem-root {
  justify-content: center;
}

.trivia-dropdown-container {
  margin-left: 1%;
  margin-right: 1%;
}

.trivia-dropdown-menu-container .MuiMenu-paper {
  background-color: #333333;
}

.trivia-dropdown-menu-container a {
  color: gray;
}

.trivia-dropdown-menu-container a:hover {
  color: white;
}

.trivia-dropdown-menu-container {
  color: white;
}

.trivia-dropdown-menu-container .MuiMenuItem-root {
  justify-content: center;
}

.navbar .trivia-dropdown-label {
  text-transform: none;
}

.navbar .trivia-dropdown-label:hover {
  color: white;
  text-transform: none;
}
.navbar .logo-image {
  width: 200px;
  display: inline-block;
}

.make-cool-flex {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-item {
  white-space: nowrap;
}
