.oc-page {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.oc-page .post-media img {
  height: 200px;
  width: auto;
  margin: auto;
}

.oc-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oc-timeline .post-view {
  margin: 2%;
  width: 50%;
  height: 30%;
}

.oc-timeline .post-view .post-view-media {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.oc-timeline .post-view .comments .inner-comment-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.oc-timeline .post-view .comments .avatar {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.oc-create-post {
  width: 50%;
  height: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
}

.oc-create-post .create-post-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.oc-create-post .create-post-media .remove-img-container {
  display: flex;
  justify-content: flex-end;
}

.oc-create-post .action-buttons {
  display: flex;
  justify-content: space-between;
}

.oc-create-post .action-buttons .upload-container {
  position: relative;
}

.oc-create-post .action-buttons .upload-container .upload-loader {
  position: absolute;
  left: 50%;
}
