.picks-page {
  display: grid;
  background-color: #6b6e70;
}

.game {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin: 20px;
}
.home-away {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.game-date {
  font-size: 20px;
}
