.picks-predicts-dropdown {
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
  font-size: 15px;
}

.MuiMenu-list {
  background-color: #343a40;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);
}
